.errors_label {
  background-color: #333;
  opacity: 0.82;
  border-radius: 5px;
  display: none;
  text-align: center;
  margin: 0 20%;
  position: fixed;
  left: 0;
  top: 40%;
  width: 60%;
  z-index: 10;
}

.errors_label ul {
  margin: 0 auto;
  padding: 0.9rem 0;
}

.errors_label ul li {
  color: #fff;
  font-size: 0.8rem;
  font-weight: normal;
}